<a href="/"><img src="http://i68.tinypic.com/whcq4k.jpg" alt="app logo- logomakr.com" id="app logo"></a>
<br><br>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>Create a new account</h1>

<p>Enter your information below:</p>

<form method="post" action='/signup'>
  Username: <input required type="text" id="username" name="username"><br><br>
  Email: <input required type="email" id="email" name="email"><br><br>
  Password: <input required type="password" id="password" name="password"><br><br>
  <input type="submit" id="submit" value="Create Account">
</form>