<a href="logout"><input type="submit" value="Log Out"></a>

<h1>Your recent activities:</h1>

<% Activity.all.each do |activity| %>
  <a href="/activities/<%=activity.id%>"><%= activity.name %> at <%=activity.location.name%></a><br>
<% end %>
<br>
<a href="/activities/new"><input type="submit" value="Add a new activity"></a>
<br><br>
<a href="logout"><input type="submit" value="Log Out"></a>