<a href="/activities"><input type="submit" value="Activities"></a> <a href="/locations"><input type="submit" value="Locations"></a> <a href="logout"><input type="submit" value="Log Out"></a>

<h1>Create an Outdoor Activity:</h1>

<p>Enter the following information about your activity:</p>
<form method="post" action="/activities">
  <p>Name (e.g. running, hiking, biking, rowing):</p>
  <input type="text" placeholder="hiking" name="name">
  <p>Date:</p>
  <input type="date" name="date">
  <p>Time spent or pace:</p>
  <input type="text" placeholder="13:00" name="time">
  <p>Distance:</p>
  <input type="text" placeholder="3 miles" name="distance" id="distance">
  <p>Name of location:</p>
  <input type="text" placeholder="shenandoah valley" name="location" id="location" required>
  <p>Use this space to reflect on your activity and to jot down any other notes:</p>
  <textarea rows="4" cols="50" name="notes" id="notes"></textarea><br><br>
  <input type="submit" id="submit" value="Create a new activity!">
</form>