<a href="/"><img src="images/logo.png" alt="app logo" id="app logo"></a>

<h1>Welcome to your Outdoor Activity Tracker!</h1>

<h3>This is the app that allows you to keep track of all of your outdoor activities. Click login to see your latest activities or signup to create an account.</h3>

<a href="/login"><input type="submit" value="Log In"></a> <a href="/signup"><input type="submit" value="Signup"></a>


