<a href="/"><img src="http://i68.tinypic.com/whcq4k.jpg" alt="app logo- logomakr.com" id="app logo"></a>
<br><br>
<h1>Welcome to your Outdoor Activity Tracker!</h1>

<h3>This app allows you to keep track of all of your outdoor activities. Click login to see your latest activities or signup to create an account.</h3>

<a href="/login"><input type="submit" value="Log In"></a> <a href="/signup"><input type="submit" value="Signup"></a>


