<a href="/"><img src="images/logo.png" alt="app logo" id="app logo"></a><a href="/activities"><input type="submit" value="Activities"></a> <a href="/locations"><input type="submit" value="Locations"></a> <a href="/locations/all_locations"><input type="submit" value="Other Users and Locations"></a> <a href="/users/<%=current_user.id%>"><input type="submit" value="Your Account"></a> <a href="/logout"><input type="submit" value="Log Out"></a>


<%= yield %>