<a href="/"><img src="http://i68.tinypic.com/whcq4k.jpg" alt="app logo- logomakr.com" id="app logo"></a>
<br><br>
<a href="/activities"><input type="submit" value="Activities"></a> <a href="/locations"><input type="submit" value="Locations"></a> <a href="/locations/all_locations"><input type="submit" value="Other Users and Locations"></a> <a href="/users/<%=current_user.id%>"><input type="submit" value="Your Account"></a> <a href="/logout"><input type="submit" value="Log Out"></a>


<%= yield %>