<h2>Check out where others have visited!</h2>

<h3>Click on any of these cool locations to learn more.</h3>

<% Location.all.each do |location| %>
   <a href="/locations/all_locations/<%=location.id%>"><%= location.name %></a><br>
<% end %>