<h1>Add a new location:</h1>

<p>Enter the following information about your location:</p>
<form method="post" action="/locations">
  <p>Name:</p>
  <input type="text" placeholder="Shenandoah Valley" name="name">
  <p>City:</p>
  <input type="text" placeholder="Winchester" name="city">
  <p>State:</p>
  <input type="text" placeholder="VA" name="state" id="state">
  <br><br>
  <p>Country:</p>
  <input type="text" placeholder="United States" name="country" id="state">
  <br><br>
  <input type="submit" id="submit" value="Add location">
</form>