<a href="/"><img src="Drawing.png" alt="app logo" id="app logo"></a>

<a href="/activities"><input type="submit" value="Activities"></a> <a href="/locations"><input type="submit" value="Locations"></a> <a href="logout"><input type="submit" value="Log Out"></a>

<h1>Add a new location:</h1>

<p>Enter the following information about your location:</p>
<form method="post" action="/locations">
  <p>Name:</p>
  <input type="text" placeholder="shenandoah valley" name="name">
  <p>City:</p>
  <input type="text" placeholder="Roanoke" name="city">
  <p>State:</p>
  <input type="text" placeholder="VA" name="state" id="state">
  <br><br>
  <p>Country:</p>
  <input type="text" placeholder="United States" name="state" id="state">
  <br><br>
  <input type="submit" id="submit" value="Add location">
</form>