<a href="logout"><input type="submit" value="Log Out"></a>

<h1>Your recent locations:</h1>

<% Location.all.each do |location| %>
  <a href="/locations/<%=location.id%>"><%= location.name %></a><br>
<% end %>
<br><br>
<a href="/locations/new"><input type="submit" value="Add a new location"></a>
<br>
<br>
<a href="/activities/new"><input type="submit" value="Add a new activity"></a>
<br><br>
